.project-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .project-info {
    width: 33%;
    .project-link {
      display: inline-block;
      margin: 10px 5px 0 0;
      background: #eee;
      padding: 5px;
    }
  }
  .project-images {
    width: 60%;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
}
