---
title: About | Mickey Loreti
---
<div class="bio">
  <h1>About Me</h1>
  <p>
    I'm a front end web developer based in San Francisco. I love learning new things and solving problems. Interests include soccer, design, espresso, and vim. My favorite css color is <span>tomato</span>.
  </p>
  <p>
    See what I'm working things I'm currently building on <a href="https://githib.com/mloreti">Github</a>.
  </p>
  <p>
    Or what things caught my eye on <a href="https://instagram.com/mloreti">Instagram</a>.
  </p>
  <h1>About this site</h1>
  <p>
    This site was built using <a href="https://middlemanapp.com/">Middleman</a>, <a href="https://github.com/daneden/animate.css">Animate.css</a>, and jQuery.
  </p>
</div>
<div class="profile-image">
  <img src="/images/me.jpg" alt="" />
</div>
